@import url("https://fonts.googleapis.com/css2?family=Gelasio&family=Inter:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    * {
        @apply m-0 p-0 box-border font-poppins bg-black/70 text-white;
    }
    .center {
        @apply flex justify-center items-center
    }
    .navbar-route {
        @apply tracking-widest text-lg hover:border-b hover:border-primary
    }
    .btn {
        @apply bg-primary font-medium p-2 px-4 rounded-full capitalize hover:bg-opacity-80;
    }
    .heading{
        @apply center font-bold text-4xl text-primary
    }
    .tagline{
        @apply center font-light px-32 py-6 text-center
    }
}

/* Styles for hiding scrollbar on modal content */

.text-area-input::-webkit-scrollbar,.modal-content::-webkit-scrollbar,.sidenav::-webkit-scrollbar {
    width: 0 !important;
    display: none; /* Safari and Chrome */
}
.text-area-input .modal-content ,.sidenav{
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar{
    display: none;
}
